.homePage {
  justify-content: center;
  align-items: center;

}

.productPage {
  justify-content: center;
}

.contactUsIcons {
  font-size: xx-large;
  color: #d9534f;
}

.socialLogos {
  color: #0275d8;
}

.title {
  color: #d9534f;
}

#seeAll {
  color: #292b2c
}

#gsName {
  color: 	#f7f7f7;
}

.productCard {
  margin: 2px;
}
